node_modules
**/node_modules/*
lerna-debug.log
npm-debug.log
yarn-error.log
.idea
.eslintcache
.DS_Store
.vscode
.stencil
.stats
package-lock.json
www
__diff_output__
src/components.d.ts
dist/*
hydrate/*
custom-element/*
!hydrate/tests
!hydrate/package.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.vsix