{
  "rules": {
    "max-empty-lines": 2,
    "string-quotes": "double",
    "function-url-quotes": "double",
    "color-hex-length": "long",
    "declaration-colon-newline-after": null,
    "font-family-name-quotes": null,
    "number-leading-zero": "always",
    "value-list-comma-newline-after": null,
    "max-nesting-depth": 2
  }
}