// ---------------------------------------------
// DUET DATE PICKER
// ---------------------------------------------

.duet-date *,
.duet-date *::before,
.duet-date *::after {
  box-sizing: border-box;
  margin: 0;
}

.duet-date {
  font-family: var(--duet-font);
  color: var(--duet-color-text);
  box-sizing: border-box;
  display: block;
  text-align: left;
  position: relative;
  margin: 0;
  width: 100%;
}

// ---------------------------------------------
// DUET DATE PICKER __ INPUT
// ---------------------------------------------

.duet-date__input {
  font-family: var(--duet-font);
  padding: 12px 48px 12px 12px;
  width: 100%;
}

.duet-date__input-wrapper {
  position: relative;
  width: 100%;
}

// ---------------------------------------------
// DUET DATE PICKER __ TOGGLE
// ---------------------------------------------

.duet-date__toggle {
  color: var(--duet-color-text);
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  height: 100%;
  width: 48px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

// ---------------------------------------------
// DUET DATE PICKER __ DIALOG
// ---------------------------------------------

.duet-date__dialog {
  transition: transform 300ms ease, opacity 300ms ease, visibility 300ms ease;
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity, visibility;
  transform: scale(0.96) translateZ(0) translateY(-20px);
  transform-origin: top right;
  position: absolute;
  z-index: var(--duet-z-index);
  min-width: 320px;
  width: 100%;
  left: 0;
  top: 100%;
  display: flex;
  @media (max-width: 35.9375em) {
    will-change: opacity, visibility;
    transition: opacity 400ms ease, visibility 400ms ease;
    transform-origin: bottom center;
    transform: translateZ(0);
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    background: var(--duet-color-overlay);
  }
  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translateZ(0) translateY(0);
  }
}

.duet-date__dialog-content {
  margin-top: 8px;
  width: 100%;
  margin-left: auto;
  max-width: 310px;
  min-width: 290px;
  transform: none;
  position: relative;
  z-index: var(--duet-z-index);
  border-radius: var(--duet-radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 16px 16px 20px;
  background: var(--duet-color-surface);
  @media (max-width: 35.9375em) {
    border: 0;
    transition: transform 400ms ease, opacity 400ms ease, visibility 400ms ease;
    opacity: 0;
    visibility: hidden;
    min-height: 26em;
    will-change: transform, opacity, visibility;
    transform: translateZ(0) translateY(100%);
    position: absolute;
    border-radius: 0;
    border-top-left-radius: var(--duet-radius);
    border-top-right-radius: var(--duet-radius);
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 8% 20px;
    max-width: none;
    .is-active & {
      opacity: 1;
      visibility: visible;
      transform: translateZ(0) translateY(0);
    }
  }
}

// ---------------------------------------------
// DUET DATE PICKER __ TABLE
// ---------------------------------------------

.duet-date__table {
  width: 100%;
  font-size: 1rem;
  font-weight: var(--duet-font-normal);
  line-height: 1.25;
  color: var(--duet-color-text);
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

.duet-date__table-header {
  padding-bottom: 8px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: var(--duet-font-bold);
  text-transform: uppercase;
}

.duet-date__cell {
  text-align: center;
}

.duet-date__day {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  padding: 0 0 1px;
  font-size: 0.875rem;
  font-weight: var(--duet-font-normal);
  line-height: 1.25;
  font-family: var(--duet-font);
  font-variant-numeric: tabular-nums;
  border-radius: 50%;
  color: var(--duet-color-text);
  vertical-align: middle;
  height: 36px;
  width: 36px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 1;
  &.is-today {
    z-index: 200;
    box-shadow: 0 0 0 1px var(--duet-color-primary);
    position: relative;
  }
  &:hover::before,
  &.is-today::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--duet-color-primary);
    opacity: 0.06;
  }
  &[aria-selected="true"],
  &:focus {
    box-shadow: none;
    outline: 0;
    background: var(--duet-color-primary);
    color: rgb(255, 255, 255);
  }
  &:active {
    z-index: 200;
    box-shadow: 0 0 5px var(--duet-color-primary);
    background: var(--duet-color-primary);
    color: rgb(255, 255, 255);
  }
  &:focus {
    z-index: 200;
    box-shadow: 0 0 5px var(--duet-color-primary);
  }
  &.is-disabled {
    opacity: 0.5;
    background: transparent;
    box-shadow: none;
    cursor: default;
    color: var(--duet-color-text);
    &::before {
      display: none;
    }
  }
  &.is-outside {
    pointer-events: none;
    cursor: default;
    box-shadow: none;
    opacity: 0.6;
    color: var(--duet-color-text);
    background: var(--duet-color-button);
    &::before {
      display: none;
    }
  }
}

// ---------------------------------------------
// DUET DATE PICKER __ HEADER
// ---------------------------------------------

.duet-date__header {
  margin-bottom: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

// ---------------------------------------------
// DUET DATE PICKER __ NAVIGATION
// ---------------------------------------------

.duet-date__nav {
  white-space: nowrap;
}

.duet-date__prev,
.duet-date__next {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--duet-color-text);
  transition: background-color 300ms ease;
  background: var(--duet-color-button);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  padding: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  @media (max-width: 35.9375em) {
    width: 40px;
    height: 40px;
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--duet-color-primary);
  }
  &:active:focus {
    box-shadow: none;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

// ---------------------------------------------
// DUET DATE PICKER __ SELECT
// ---------------------------------------------

.duet-date__select {
  margin-top: 4px;
  position: relative;
  display: inline-flex;
  span {
    margin-right: 4px;
  }
  select {
    font-size: 1rem;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    &:focus + .duet-date__select-label {
      box-shadow: 0 0 0 2px var(--duet-color-primary);
    }
  }
}

.duet-date__select-label {
  border-radius: var(--duet-radius);
  padding: 0 4px 0 8px;
  position: relative;
  pointer-events: none;
  align-items: center;
  display: flex;
  z-index: 1;
  width: 100%;
  font-size: 1.25rem;
  font-weight: var(--duet-font-bold);
  line-height: 1.25;
  color: var(--duet-color-text);
}

// ---------------------------------------------
// DUET DATE PICKER __ MOBILE
// ---------------------------------------------

.duet-date__mobile {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120%;
  margin-left: -10%;
  margin-bottom: 20px;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 36em) {
    position: absolute;
    overflow: visible;
    top: -8px;
    right: -8px;
    width: auto;
    margin: 0;
    border: 0;
    padding: 0;
  }
}

.duet-date__mobile-heading {
  font-weight: var(--duet-font-bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 84%;
  @media (min-width: 36em) {
    display: none;
  }
}

// ---------------------------------------------
// DUET DATE PICKER __ CLOSE
// ---------------------------------------------

.duet-date__close {
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
  border: 0;
  background: var(--duet-color-button);
  color: var(--duet-color-text);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 36em) {
    opacity: 0;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--duet-color-primary);
    @media (min-width: 36em) {
      opacity: 1;
    }
  }
}

// ---------------------------------------------
// DUET DATE PICKER __ VISUALLY HIDDEN
// ---------------------------------------------

.duet-date__vhidden {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 0;
}
