:root {
  --color-gray-darker: rgb(101, 119, 135);
  --color-gray-lighter: rgb(245, 248, 250);
  --color-primary: rgb(0, 119, 179);
  --color-primary-lightest: rgb(243, 249, 252);
  --color-primary-lighter: rgb(230, 242, 248);
  --color-primary-dark: rgb(0, 77, 128);
  --color-gray-lightest: rgb(255, 255, 255);
  --color-gray-dark: rgb(144, 149, 153);
  --color-gray-light: rgb(225, 227, 230);
  --color-secondary: rgb(0, 41, 77);
  --color-gray: rgb(207, 210, 212);
  --color-danger: rgb(222, 35, 98);
  --font-family-text: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
  --font-size-x-small: 0.75rem;
  --radius-default: 4px;
  --radius-circle: 50%;
  --space-xx-small: 4px;
  --space-large: 20px;
  --space-x-small: 8px;
  --space-small: 12px;
  --space-medium: 16px;
  --space-xxx-large: 48px;
  --space-x-large: 28px;
  --size-form-border: 1px;
  --size-tappable-square: 48px;
  --size-icon-medium: 24px;
  --z-index-dropdown: 600;
  --z-index-modal: 900;
  --z-index-masked: 100;
  --z-index-mask: 200;
  --transition-quickly: 300ms ease;
}
